:root {
    --bg-text-color: #2C3E50;
    --bg-secondary: #cc7a2e;
    --size-input: 1.1rem;
}

/* ================================ PAGES ================================ */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    scrollbar-color: var(--bg-secondary) var(--bg-text-color);
    scrollbar-width: thin;
    background-color: var(--bg-text-color);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 1.2rem;
    color: var(--bg-text-color) ;
    padding: 50px 20px;
    background: url(../image/food_truck_event.jpg) no-repeat center center/cover;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

form {
    width: 60%;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    color: var(--bg-text-color);
}

/* =========================== FORMULES DISPONIBLES =========================== */

.nbr-personne > input{
    width: 65px;
}

/* ================================ CONTACTS ================================ */

#contacts > section {
    margin: 10px;
}

/* ======= NOM & PRENOM ======= */
.nom-prenom > #nom-prenom {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nom-prenom > label {
    font-weight: 800;
}

.nom-prenom > #nom-prenom > input {
    width: 50%;
}

/* ======= ADRESSE MAIL & TELEPHONE ======= */
.info {
    display: flex;
    gap: 10px;
}

.email, .telephone {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* ======= DATE/HOUR ======= */
.date-hour {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* ========================== INPUT/TEXTAREA/LABEL ========================== */

/* ======= INPUT/SELECT/TEXTAREA ======= */
input, select, textarea {
    padding: 7px;
    border: none;
    border-bottom: 2px solid var(--bg-text-color);
    background-color: rgba(255, 255, 255, 0.106);
    font-size: var(--size-input);
    color: white;
}

/* ======= TEXTAREA ======= */
textarea {
    height: 200px;
}

/* ======= LABEL ======= */
label {
    font-weight: 800;
}

/* ======= SCROLLBAR ======= */
.scroller {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}