:root {
    --bg-text-color: #2C3E50;
    --bg-card: #E67E22;
    --text-color: #ECF0F1;
    --color-jsp: #2ECC71;
    --size-input: 1.1rem;
}

/* ======================== PAGES ======================== */

html {
    scrollbar-color: var(--bg-card) var(--bg-text-color);
    background-color: var(--bg-text-color);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 1.2rem;
    background: url(../image/food_truck_event.jpg) no-repeat center center/cover;
    color: var(--bg-text-color);
    padding: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

form {
    width: 70%;
    background-color: var(--bg-card);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}

/* ======================== LES FORMULES DISPONIBLES ======================== */

input[type="number"] {
    width: 50px;
}

select {
    font-size: 1.1rem;
}

/* ======================== CONTACTS ======================== */

/* ====== NOM & PRENOM ====== */

section {
    margin: 10px;
}

.nom-prenom{
    display: flex;
    flex-direction: column;
}

.nom-prenom > #nom-prenom-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.nom-prenom > #nom-prenom-input > input {
    flex-grow: 1;
    
}

/* ====== EMAIL & TELEPHONE ====== */

.email-telephone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

#email, #telephone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#email > input:valid, #telephone > input:valid {
    border-color: #2ECC71;
}

#email > input:invalid, #telephone > input:invalid {
    border-color: #cc2e2e;
}

/* ======================== INPUTS/LABEL/SELECT/TEXTAREA ======================== */

input, textarea {
    padding: 7px;
    border: none;
    border-bottom: 2px solid black;
    background-color: rgba(255, 255, 255, 0.097);
    font-size: var(--size-input);
    color: var(--text-color);
}

label {
    font-weight: 800;
}

textarea {
    height: 300px;
}
/* ======================== BOUTON ======================== */

#bouton {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    width: fit-content;
    background-color: var(--color-jsp);
    padding: 17px;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.25s ease-in-out;
}

button:active {
    background-color: #23a057;
    box-shadow: inset 2px 2px 10px black;
}